/* img{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
} */

.list{
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 200px);
}

.list div{
    width: 40px;

}